/* Material Icons Font */
@font-face {
    font-family: 'Material Symbols Rounded';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/MaterialSymbolsRounded.woff2') format('woff2');
}

/* Montserrat Font */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/Montserrat-Regular.woff2') format('woff2');
}

/* Orbitron Font */
@font-face {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/Orbitron-Regular.woff2') format('woff2');
}